# git에서 예외(제외) 처리하고 싶은 파일/디렉토리 목록
.DS_Store

# 각종 문서 파일 (워드, 파워포인트)
*.docx
*.pptx
*.xlsx
*.csv
# 이름에 CSV가 들어간 '폴더'는 ignore 예외 (staging 대상에 포함)
!*csv*/

# Backup files
*.bak

# Image files
*.jpg
*.png
*.gif

# 압축 파일
*.zip
*.rar

# 의존성 디렉토리 (Dependency directory)
node_modules

# React > Build, Dist 디렉토리
build/
dist/

# dotenv environment variable files (※ 특히 Credentials 포함한 파일 주의)
.env
.env.*
!.env.example

# VS Code 개인 설정
.vscode/extensions.json
.vscode/settings.json


# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
