.modalWhiteBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  padding: 100px 20px;
  border-radius: 8px;
}

.modalContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap:50px;
}

.modalContentText {
  text-align: center;
  font-size: 20px;
}

.modalButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  gap:20px;
}
