#top_container{
  display: flex;
  justify-content: space-between;
  align-items: center;   /* ⭐ 여기 */

  padding: 0 16px;
  height: 100px;
}

#logo_container {
  display: flex;
  align-items: center;
  gap: 0px;            /* 30 → 10 추천 */

  height: 100%;         
  cursor: pointer;
}

#logo_container img {
  width: 75px;
  height: 75px;
  object-fit: contain;
  transform: translateY(-5px);
}

#login_info{
  display: flex;
  align-items: center;
  gap: 24px;
  height: 100%;
  margin-right: 8px;         
}

.top_container_login{
  cursor: pointer;
}

#login_name{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:5px;
}

/* src/components/topcontainer/TopContainer.css */
.logo_text {
  font-family: 'ChangwonDangamRounded', sans-serif;
  font-size: 26px;       
  letter-spacing: -0.5px;
  color: #639A44;
}

/* 로그인 사용자 역할 아이콘 */
/* 찌그러짐 방지 */
/* .user_role_icon {
  width: 24px;          
  height: 24px;
  object-fit: contain; 
} 
*/

.user_role_icon_reuse {
  background-image: url('/img/topcontainer/reuse-operator_icon.png');
  width:50px;
  height:50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.user_role_icon_partner{
  background-image: url('/img/topcontainer/partner-icon.png');
  width:22px;
  height:22px;

  background-repeat: no-repeat;
  background-size: contain;   /* cover → contain */
  background-position: center;
}