.cancelButton {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  cursor: pointer;

  background: #f5f5f5;
  border: 1px solid #dcdcdc;

  transition: all 0.2s ease;
}

/* hover */
.cancelButton:hover {
  background: #eeeeee;
  border-color: #cfcfcf;
}

/* 클릭 */
.cancelButton:active {
  background: #e5e5e5;
}

.cancelButtonText {
  font-size: 15px;
  font-weight: 600;
  color: #888;
}