.holiday-pagination.pagination {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;

  border-top: 1px solid #ededed;
  padding-top: 12px;
}

/* 부트스트랩 기본 li */
.holiday-pagination.pagination .page-item {
  list-style: none;
}

/* a 링크를 버튼처럼 */
.holiday-pagination.pagination .page-link {
  border: 0 !important;
  background: transparent !important;

  padding: 6px 10px;
  font-size: 12px;
  font-weight: 600;
  color: #333;

  cursor: pointer;
  box-shadow: none !important;
}

/* 가운데 구분선 | 만들기 */
.holiday-pagination.pagination .page-item:first-child .page-link {
  position: relative;
  padding-right: 10px;
}

.holiday-pagination.pagination .page-item:first-child .page-link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 1px;
  height: 18px;
  background: #dcdcdc;
}

/* 버튼이 하나만 있을 때 구분선 제거 */
.holiday-pagination.pagination
.page-item:first-child:last-child
.page-link::after {
  display: none;
}

.holiday-pagination.pagination .page-item:last-child .page-link {
  padding-left: 10px;
}

/* hover */
.holiday-pagination.pagination .page-link:hover {
  color: #111;
  text-decoration: none;
}