.reuse_stats_container {
      height: 1000px;  
      width:90%;
      margin:0 auto;
}      

.reuse_stats_title{
      width:250px;
      height:50px;

      font-size:20px;
      font-weight:bold;
}

.reuse_stats_period_container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap:50px;

      margin-top:50px;
}

.reuse_stats_period_total{
    width:45%;
    height:500px;
}

.reuse_stats_period_total_loan_types{
      width:45%;
      height:500px;
}