.reuse_request_container {
      height: 1000px;  
      width:90%;
      margin:0 auto;
}      

.reuse_request_title{
      width:200px;
      height:50px;

      font-size:20px;
      font-weight:bold;
}

.reuse_request_search{
      display:flex;
      justify-content: flex-start;
      align-items: center;

      gap:20px;
}

.reuse_request_results{
      display:flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;

      gap:20px;
}