.partner_rental_manage_partner_info {
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  padding: 20px;
}

.partner_rental_manage_partner_img {
  width: 150px;
  height: 100%;

  background-image: url("/img/reuse-operator-detail/reuse-operator-detail-partner-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.partner_rental_manage_partner_name_container {
  width: 150px;
  height: 100px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.partner_rental_manage_partner_name{
  width:100%;
  height:50px;
  text-align: center;
}

.partner_rental_manage_partner_manager_name{
  width:100%;
  height:50px;
  text-align: center;
}
