#search-table{
  margin:20px 0px;
}

/* 아래는 모두 부트스트랩 테이블 커스텀 - 필요시 주석 풀고 커스텀 */
/* .table.table-hover.custom-table > tbody > tr:hover > * {
  --bs-table-bg-state: lightblue;
  --bs-table-color-state: #0d6efd;
}

.table .table-group-divider {
  color: lightblue;
} */
