.wrapper{
  width: 100%;
  min-height: 100vh;
  min-width:750px;

  display: flex;
  flex-direction: column;

  /* 헤더 높이만큼 밀기 */
  padding-top: 200px;
}

.main{
  /* 남는 공간을 다 차지 */
  flex:1;
}

.fixedBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 200px; /* 총 헤더 높이 */
  background-color: white;
  z-index: 1000;
}

.fixedBarContentCenter {
  min-width: 300px;
  min-height: 200px;
  
  margin: 0 auto;
  padding: 16px 0px;
}


