.reuse-partner-manage-holiday-calendar-container{
    width:310px;
    min-width: 310px;
    height:100%;

}

#reuse-partner-manage-holiday-calendar{
    display: inline-block;
    width:0px;
    height:0px;
    visibility: hidden;
}